<div bindonce bo-attr bo-attr-id="id" class="col-lg-4 col-md-6 spgr-qinfo-card-container" >
    <div class="spgr-qinfo-col-title" bindonce="cardTitle" bo-html="cardTitle"></div>
    <div bindonce class="spgr-qinfo-col-op-container">
        <div class="spgr-qinfo-col-op-chart">
            <!--<grade-level-pie ng-if="successprofile" grade="successprofile.standardHayGrade" size="XS" text-color="'#ffffff'"></grade-level-pie>-->
            <span class="grade-level-static-pie">{{successprofile.standardHayGrade}}</span>
            <snap class="grade-level-static-pie-label">{{ 'Grade' | translate }}</snap>
        </div>
        <img src="./i/oval-7.svg" class="oval-pdf">
        <div class="spgr-qinfo-col-op-detail" ng-if="pricingData">
            <span class="spgr-qinfo-col-op-content"
                ng-if="fact.displayType.slice(0, 10) === 'PRICE_CARD'"
                ng-repeat="fact in pricingData.pricedResults[0].pricedFacts">
                <span class="spgr-qinfo-col-op-text">
                    {{ fact.factName }}
                </span>
                <span class="spgr-qinfo-col-op-stat" >
                    {{ formatAsCurrency(fact) }}
                </span>
            </span>
        </div>
    </div>
</div>
