<div class="container page-container search-page-container">
    <header class="masthead list-page">
        <div class="avatar">
            <img src="/assets/images/icon-success-profiles.svg" alt="avatar">
        </div>
        <div class="body">
            <h1 class="title">{{ 'SuccessProfilesPageTitle' | translate }}</h1>
            <p>{{ 'SuccessProfilesPageDescription' | translate }}</p>
        </div>
    </header>
    <div class="main-background">
        <div class="main-container">
            <div class="search-filter-section">
<!--
                    <div class="search-filter-group">
                    <dropdown-multiselect checked-options="selectedGradeFilters" checked-options-changed="filtersChanged('grade', value)" class-name="search-filter"
                        options="allGradesFilters" prompt="{{'Grades' | translate}}">
                    </dropdown-multiselect>
                    <dropdown-multiselect checked-options="selected LevelFilters" checked-options-changed="filtersChanged('level', value)" class-name="search-filter"
                        options="allLevelsFilters" prompt="{{'Levels' | translate}}">
                    </dropdown-multiselect>
                    <dropdown-multiselect checked-options="selectedFunctionFilters" checked-options-changed="filtersChanged('function', value)"
                        class-name="search-filter" options="allFunctionsFilters" prompt="{{'Functions' | translate}}">
                    </dropdown-multiselect>
                </div>
-->

                <div class="input-group">
                    <div class="input-backdrop"></div>
                    <!-- <input type="text" class="search-profile-bar form-control" [(ngModel)]="searchString" (change)="doSearch()" /> -->
                    <input type="text" class="search-profile-bar form-control" (change)="doSearch()" />
                    <div *ngIf="!searchString" class="placehold-text">
                        <img src="/assets/images/search.svg" />{{ 'SearchSuccessProfiles' | translate }}
                    </div>
                </div>

                <div class="applied-filters-well" *ngIf="appliedFilters && appliedFilters.length">
                    <div class="applied-filter" *ngFor="let filter of appliedFilters">
                        <span class="remove-filter" (click)="removeFilter($index, filter)">X</span>
                        <span class="filter-content">{{ filter.type | translate }}: {{ filter.content.value }}</span>
                    </div>
                    <a class="filter-option-clear" *ngIf="appliedFilters.length" (click)="removeAllFilter()">{{ 'ClearAllFilters' | translate }}</a>
                </div>
            </div>

            <div class="search-result-section">
                <div class="action-dropdown-section">
                    <div class="filter-title">
                        <span *ngIf="searchLoading && searchResults && searchResults.length == 0"> &nbsp; </span>
                        <span *ngIf="!searchLoading && searchResults && searchResults.length == 0"> {{ 'NoResultsFound' | translate }} </span>
                        <div class="search-result-data" *ngIf="searchResults && searchResults.length">
                            {{ 'LabelShowing' | translate }} {{ searchResults.length }} of {{ pagingInfo.totalResultRecords }} {{ 'BCSuccessProfiles' | translate }}
                        </div>
                    </div>
                </div>

                <div class="result-table-well">
                    <table class="table list-table table-striped table-hover" *ngIf="listView">
                        <thead>
                        <tr>
                            <th class="name" (click)="sortResults('JOB_TITLE')">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('JOB_TITLE') === 'ASC'" src="//assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('JOB_TITLE') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('JOB_TITLE') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'Name' | translate }}
                            </th>
                            <th (click)="sortResults('GRADES')">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('GRADES') === 'ASC'" src="/assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('GRADES') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('GRADES') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'Grade' | translate }}
                            </th>
                            <th (click)="sortResults('LEVELS')">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('LEVELS') === 'ASC'" src="/assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('LEVELS') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('LEVELS') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'Level' | translate }}
                            </th>
                            <th (click)="sortResults('FUNCTIONS')">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('FUNCTIONS') === 'ASC'" src="/assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('FUNCTIONS') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('FUNCTIONS') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'Function' | translate }}
                            </th>
                            <th (click)="sortResults('CREATED_BY')">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('CREATED_BY') === 'ASC'" src="/assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('CREATED_BY') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('CREATED_BY') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'CreatedBy' | translate }}
                            </th>
                            <th (click)="sortResults('CREATED_ON')" class="date-title">
                                <img class="sort-up-arrow" *ngIf="sortingInOrder && sortingInOrder('CREATED_ON') === 'ASC'" src="/assets/images/sort-up-arrow@3x.png" />
                                <img class="sort-down-arrow" [className]="sortingInOrder && sortingInOrder('CREATED_ON') !== 'DESC' ? 'inactive' : null"
                                    *ngIf="sortingInOrder && sortingInOrder('CREATED_ON') !== 'ASC'"
                                    src="/assets/images/sort-down-arrow@3x.png" /> {{ 'Date' | translate }}
                            </th>
                            <th class="more-actions-header">&nbsp;</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngFor="let profile of searchResults" [className]="{ 'row-selected': profile.selected }">
                            <td class="title-column">
                                <img class="bic-icon" *ngIf="profile.isTemplateJob === true" src="/assets/images/best-in-class-icon.png" />
                                <img class="bic-icon" *ngIf="profile.isTemplateJob === false" src="/assets/images/icon-custom-blue.svg" />
                                <a href="#/talentarchitect/spdetail/{{ profile.id }}">{{ profile.title }}</a>
                            </td>
                            <td class="grade-column">{{ profile.standardHayGrade }}</td>
                            <td class="level-column">{{ profile.levelName }}</td>
                            <td class="function-column">{{ profile.familyName }}</td>
                            <td class="created-by-column">
                                &nbsp;{{ profile.source[0].firstName }} {{ profile.source[0].lastName }}
                            </td>
                            <td class="date-column">{{ profile.source[0].effectiveDateTime | date: 'MMM dd, yyyy' }}</td>
                            <td class="last-colunm">
                                <div class="actions-toggle" data-toggle="dropdown">
                                    <img src="/assets/images/action.svg" />
                                </div>

                                <!-- <profile-submenu profile="profile" subscriptions="subscriptions"></profile-submenu> -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="searchLoading && searchResults && searchResults.length == 0" class="noresults">&nbsp;</div>
                    <div *ngIf="!searchLoading && searchResults && searchResults.length == 0" class="noresults">
                        {{ "SPSearch_NoResults" | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="pp-container"></div>
</div>
