<h4 style="padding: 20px 100px">
    This is the sandbox main component for the kfhub_tarc_app.
    Use this as a testbed for the Core Components that you will be creating in the "kfhub_lib" Library Project.
    If needed, please go ahead and create additional sandbox components under the "modules/sandboxes/"" directory
    to test out your Common Components in isolation.
</h4>

<kf-grade-level-pie grade="3" label="Grade"></kf-grade-level-pie>

<div style="margin-top: 200px">
    <kftarc-market-insight jobRoleTypeId="FAA3" standardHayGrade="14" countryId="225"></kftarc-market-insight>
</div>
