<header id="navigation-bar" class="navbar-container common-navbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-top-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" (click)="redirectToTalent()">
                    <img alt="Korn Ferry" src="/assets/images/logo.svg" />
                </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right" *ngIf="isAppPages()">
                    <li><a class="icon settings" *ngIf="hasAdminRole()" (click)="redirectToAdminModule()"></a></li>
                    <li><a class="icon user" (click)="toggleMenu()"></a></li>
                </ul>
                <div class="menu" *ngIf="isShowMenu">
                    <div class="triangle"></div>
                    <ul>
                        <li (click)="preferences()">{{ 'MyProfile' | translate }}</li>
                        <li id="logout" (click)="logout()">{{ 'Logout' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div style="padding-top: 30px"></div>

