<div class="header-bar first-level-menu" ng-style="menuStyle()">
    <nav ng-hide="isLogin">
        <ul>
            <li ng-class="firstLevelMenuClass('talentarchitect/tadashboard')">
                <a href="tarch/sp/search" data-target="#">{{ 'Talent' | translate }}</a>
            </li>
            <li ng-class="firstLevelMenuClass('talentacquisition/tacqprojectsearch')">
                <a href="tacq/projectsearch" data-target="#">{{ 'TalentAcquisition' | translate }}</a>
            </li>
            <li ng-class="firstLevelMenuClass('organization')">
                <a ng-click="directToPay()" data-target="#">{{ 'OrganizationPerformance' | translate }}</a>
            </li>
        </ul>
        <div class="separator"></div>
    </nav>
</div>
<div style="padding-top: 80px"></div>

<div class="slm-nav-left">
    <ul class="second-level-menu">
        <li ng-class="secondLevelMenuClass('tarch/sp/search')">
            <a href="tarch/sp/search" data-target="#">{{ 'BCSuccessProfiles' | translate }}</a>
        </li>
        <li ng-class="secondLevelMenuClass('tarch/jd/search')">
            <a href="tarch/jd/search" data-target="#">{{ 'JobDescriptionsPageTitle' | translate }}</a>
        </li>
    </ul>
</div>

<div style="padding-top: 30px"></div>