<footer id="footer-region">
	<div>
		<nav class="footer navbar navbar-fixed-bottom nav-footer sub-footer">
			<div class="container">
				<div class="float-left legal">{{ 'KornFerryLegal' | translate }}</div>
          <ul id="footer-app-list" class="horizontal-ul list-float-right split">
            <li><a href="http://static.kornferry.com/media/kornferry/Terms_of_Use_Kornferry.pdf">{{ 'Terms' | translate }}</a></li>
            <li><a href="https://cdn.kornferry.com/privacy/en-gb/privacy.pdf">{{ 'Privacy' | translate }}</a></li>
          </ul>
			</div>
		</nav>
	</div>
</footer>
